footer{
    background-color: #14171F;
    width: 100%;
    min-height: 400px;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}
.icon-web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;

}
.icon-web p{
    color: #bec3d0;
    padding: 13px;
    text-align: center;
}
.logo-footer{
    font-size: 40px;
    font-family: "Exo 2", sans-serif !important;
    letter-spacing: 10px;
    font-weight: 600;
    color: aliceblue !important;
}
.get-app1{
    width: 157px !important;
    margin-right: 12px;
    cursor: pointer;
}
.get-app2{
    width: 180px !important;
    cursor: pointer;
}

.get-app3{
    width: 154px !important;
    margin-right: 13px;
    cursor: pointer;
}
.apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 280px;
}
.apps p{
    color: #7C818E;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.img-apps{
    padding-right: 30px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 0 50px;
}
.link-wrapper1{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px 0;
    justify-content: center;
}
.link-wrapper2{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px 0;
    justify-content: center;
}
.link-wrapper3{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px 0;
    justify-content: center;
}
.link-wrapper1 p,
.link-wrapper2 p,
.link-wrapper3 p{
    color: #dbdde3;
    font-size: 15px;
}
.link-wrapper1 a,
.link-wrapper2 a,
.link-wrapper3 a{
    text-decoration: none;
    color: #8bdf19;
    font-size: 13px;
}
.link-wrapper2{
    width: 250px;
}
.link-wrapper3{
    width: 250px;
}
@media (max-width: 1400px) {
    .icon-web p{
        font-size: 14px;
    }
    .logo-footer{
        font-size: 35px;
    }
    .apps p{
        font-size: 13px;
    }
    .link-wrapper1{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px 0;
        justify-content: center;
    }
    .link-wrapper2{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px 0;
        justify-content: center;
    }
    .link-wrapper3{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px 0;
        justify-content: center;
    }
}
@media (max-width: 1200px) {
    .link-wrapper1{
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px 0;
        justify-content: center;
    }
    .link-wrapper2{
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px 0;
        justify-content: center;
    }
    .link-wrapper3{
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px 0;
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .links{
        margin-top: 50px;
    }
    footer{
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    .links{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-wrapper2{
        margin-top: 25px;
    }
    .link-wrapper3{
        margin-top: 25px;
    }
    .icon-web{
        margin-top: 30px;
    }
    .img-apps{
        margin-bottom: 30px;
    }
}