body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.show-menu {
  display: block !important;
  animation: menu-animation 1.5s ease forwards;
}
@keyframes menu-animation {
  0% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(0);
  }
}
nav {
  height: 75px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .right button {
  margin: 0;
  border: 0;
  background-color: transparent;
}
.menu-icon {
  width: 28px !important;
  margin-left: 25px;
}
.shop-icon {
  width: 28px !important;
  margin-left: 18px;
}
.user-icon {
  width: 28px !important;
}
nav .right p {
  margin: 0 7px;
  cursor: pointer;
  font-size: 15px;
}
nav .center a {
  text-decoration: none;
  color: black;
  font-family: "Exo 2", sans-serif !important;
  font-size: 35px;
  letter-spacing: 10px;
  font-weight: 600;
}
nav .left .heart-icon {
  width: 28px;
  margin-left: 18px;
}
nav .left .search-icon {
  width: 20px;
  margin-left: 15px;
}
nav .left {
  display: flex;
}
.search-wrapper input {
  border: none;
  outline: none;
  font-size: 14px;
}
.search-wrapper {
  display: flex;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.menu-wrapper {
  height: 100vh;
  width: 35%;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  transition: all 1s;
  z-index: 999;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.close-icon {
  width: 50px !important;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}
.menu-logo a {
  text-decoration: none;
  color: black;
  font-family: "Exo 2", sans-serif !important;
  font-size: 35px;
  letter-spacing: 10px;
  font-weight: 600;
}
.menu-logo {
  display: flex;
  justify-content: center;
}
.menu-content {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 40px;
  margin-top: 50px;
}
.menu-content a {
  text-decoration: none;
  color: #000;
}
.menu-footer img {
  width: 45% !important;
  float: left;
  margin-left: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}
.flower-icon {
  width: 23px !important;
  margin-left: 10px;
}
.menu-content a {
  display: flex;
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .menu-wrapper{
        width: 50%;
    }
    nav {
        justify-content: space-between;
      }
      .menu-icon {
        width: 23px !important;
        margin-left: 25px;
      }
      .shop-icon {
        width: 23px !important;
        margin-left: 18px;
      }
      .user-icon {
        width: 23px !important;
      }
      nav .right p {
        margin: 0 7px;
        cursor: pointer;
        font-size: 13px;
      }
      nav .left .heart-icon {
        width: 23px;
        margin-left: 18px;
      }
      nav .left .search-icon {
        width: 20px;
        margin-left: 15px;
      }
      nav .left {
        display: flex;
      }
      .search-wrapper input {
        border: none;
        outline: none;
        font-size: 12px;
      }
}
@media (max-width: 768px) {
    .menu-wrapper{
        width: 65%;
    }
    .heart-icon{
        display: none;
    }
    nav .right p{
        display: none;
    }
    .search-wrapper{
        display: none;
    }
    .user-icon{
        display: none !important;
    }
    .shop-icon{
        display: none !important;
    }
    .menu-icon{
        margin: 0;
    }
}
@media (max-width: 576px) {
    .menu-wrapper{
        width: 100%;
    }
}
