.product-title{
    font-size: 30px;
    color: green;
    margin-top: 80px;
}
.product-wrapper{
    margin-top: 100px;
}
.product-inner{
    display: flex;
    justify-content: space-around;
}
.product-inner .right{
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px 50px;
    justify-content: center;
    align-items: center;
}
.product-inner .left{
    width: 35%;
    display: flex;
}
.price-tag{
    width: 28px !important;
}
.post{
    width: 230px;
    box-shadow: 0 0 16px 1px #9393937d;
    cursor: pointer;
}
.post-header{
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.post-header img{
    width: 120px;
}
.price{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.price-text{
    margin: 0;
    color: #198f0c;
}
.post-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px 0;
}
.shop-wrapper{
    height: 40px;
    width: 40px;
    background-color: #e4e4e4cc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.body-title{
    margin-bottom: 34px !important;
    margin-right: 11px;
}
.sec{
    display: none !important;
}
.first{
    display: block;
}
.offer{
    margin-top: 50px;
    margin-bottom: 50px;
}
.new{
    display: flex;
    gap: 0 60px;
    justify-content: center;
    margin-top: 50px;
}
.new-title{
    color: #198f0c;
}
.post-border{
    cursor: pointer;
    --c: #284959; /* the border color */
    --b: 2px; /* the border thickness*/
    --g: 1px; /* the gap on hover */
  
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background: conic-gradient(
          from 180deg at top var(--b) right var(--b),
          var(--_g)
        )
        var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
      conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0
        var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
  }
  .post-border:hover {
    --_i: 100%;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
@media (max-width: 1400px) {
    .dontshow{
        display: none !important;
    }
    .product-inner .left{
        width: 45%;
    }
}
@media (max-width: 1200px) {
    .product-inner .left{
        width: 54%;
    }
    .post{
        width: 200px;
    }
    .post-header{
        height: 180px;
    }
}
@media (max-width: 992px) {
    .first{
        display: none !important;
    }
    .sec{
        display: block !important;
        width: 80% !important;
    }
    .product-inner{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
    .product-inner .left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .product-inner .right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .post{
        width: 250px;
    }
    .post-header{
        height: 200px;
    }
    .new{
        gap: 45px 60px;
        flex-wrap: wrap;
    }
    

}
@media (max-width: 768px) {
    .dontshow2{
        display: none !important;
    }
}
@media (max-width: 576px) {

}